USE [master]
GO
/****** Object:  Database [University]    Script Date: 10/16/2020 1:37:36 AM ******/
CREATE DATABASE [University]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'University', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\University.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'University_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\University_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [University].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [University]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 10/16/2020 1:37:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[depID] [int] IDENTITY(1,1) NOT NULL,
	[deptName] [nvarchar](max) NULL,
	[isActive] [bit] NULL,
	[head] [int] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[depID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Gender]    Script Date: 10/16/2020 1:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[genderID] [int] IDENTITY(1,1) NOT NULL,
	[gender] [nvarchar](10) NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[genderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Level]    Script Date: 10/16/2020 1:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Level](
	[levelID] [int] IDENTITY(1,1) NOT NULL,
	[levelName] [nvarchar](max) NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_Level] PRIMARY KEY CLUSTERED 
(
	[levelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Professors]    Script Date: 10/16/2020 1:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[isActive] [bit] NULL,
	[genderID] [int] NULL,
 CONSTRAINT [PK_Professors] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProfessorSubjects]    Script Date: 10/16/2020 1:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfessorSubjects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[professorID] [int] NULL,
	[subjectID] [int] NULL,
 CONSTRAINT [PK_ProfessorSubjects] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 10/16/2020 1:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[studentID] [int] IDENTITY(1,1) NOT NULL,
	[nationalID] [decimal](14, 0) NULL,
	[password] [nvarchar](max) NULL,
	[firstName] [nvarchar](50) NULL,
	[midName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
	[deptId] [int] NULL,
	[image] [nvarchar](max) NULL,
	[mobile] [nvarchar](13) NULL,
	[genderID] [int] NULL,
	[levelID] [int] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentSubjects]    Script Date: 10/16/2020 1:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSubjects](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studentID] [int] NULL,
	[subjectID] [int] NULL,
	[isPassed] [bit] NULL,
	[professorSubjectID] [int] NULL,
	[registrationEnd] [bit] NULL,
 CONSTRAINT [PK_StudentSubject] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subject]    Script Date: 10/16/2020 1:37:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[subID] [int] IDENTITY(1,1) NOT NULL,
	[subjectName] [nvarchar](max) NULL,
	[deptID] [int] NULL,
	[code] [nvarchar](10) NULL,
	[creditHours] [float] NULL,
	[preSubject] [int] NULL,
	[day] [nvarchar](10) NULL,
	[timeFrom] [time](0) NULL,
	[timeTo] [time](0) NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[subID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([depID], [deptName], [isActive], [head]) VALUES (2, N'Computer Science', 1, 1)
INSERT [dbo].[Department] ([depID], [deptName], [isActive], [head]) VALUES (3, N'Physics ', 1, 2)
INSERT [dbo].[Department] ([depID], [deptName], [isActive], [head]) VALUES (4, N'Chemistry', 1, 3)
SET IDENTITY_INSERT [dbo].[Department] OFF
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([genderID], [gender], [isActive]) VALUES (1, N'Male', 1)
INSERT [dbo].[Gender] ([genderID], [gender], [isActive]) VALUES (2, N'Female', 1)
SET IDENTITY_INSERT [dbo].[Gender] OFF
SET IDENTITY_INSERT [dbo].[Level] ON 

INSERT [dbo].[Level] ([levelID], [levelName], [isActive]) VALUES (1, N'Level 1', 1)
INSERT [dbo].[Level] ([levelID], [levelName], [isActive]) VALUES (2, N'Level 2', 1)
INSERT [dbo].[Level] ([levelID], [levelName], [isActive]) VALUES (3, N'Level 3', 1)
SET IDENTITY_INSERT [dbo].[Level] OFF
SET IDENTITY_INSERT [dbo].[Professors] ON 

INSERT [dbo].[Professors] ([id], [name], [image], [isActive], [genderID]) VALUES (1, N'Mohamed Saleh', N'mohamed.jpg', 1, 1)
INSERT [dbo].[Professors] ([id], [name], [image], [isActive], [genderID]) VALUES (2, N'Ali Elsayed', N'ali.jpg', 1, 1)
INSERT [dbo].[Professors] ([id], [name], [image], [isActive], [genderID]) VALUES (3, N'Salma Mohamed', N'salma.jpg', 1, 2)
SET IDENTITY_INSERT [dbo].[Professors] OFF
SET IDENTITY_INSERT [dbo].[ProfessorSubjects] ON 

INSERT [dbo].[ProfessorSubjects] ([id], [professorID], [subjectID]) VALUES (1002, 1, 6)
INSERT [dbo].[ProfessorSubjects] ([id], [professorID], [subjectID]) VALUES (1003, 1, 7)
INSERT [dbo].[ProfessorSubjects] ([id], [professorID], [subjectID]) VALUES (1004, 1, 8)
SET IDENTITY_INSERT [dbo].[ProfessorSubjects] OFF
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([studentID], [nationalID], [password], [firstName], [midName], [lastName], [deptId], [image], [mobile], [genderID], [levelID], [isActive]) VALUES (5, CAST(30001234567891 AS Decimal(14, 0)), N'30001234567891', N'Ahmed', N'Mohamed', N'Ali', 2, N'ahmed.jpg', N'01234567891', 1, 1, 1)
INSERT [dbo].[Student] ([studentID], [nationalID], [password], [firstName], [midName], [lastName], [deptId], [image], [mobile], [genderID], [levelID], [isActive]) VALUES (6, CAST(30004578532457 AS Decimal(14, 0)), N'30004578532457', N'Said', N'Nasser', N'Mohamed', 3, N'sa.jpg', N'01145789654', 1, 2, 1)
INSERT [dbo].[Student] ([studentID], [nationalID], [password], [firstName], [midName], [lastName], [deptId], [image], [mobile], [genderID], [levelID], [isActive]) VALUES (7, CAST(30003245712457 AS Decimal(14, 0)), N'30003245712457', N'Ahmed', N'Fawzy', N'Fathy', 2, N'fa.jpg', N'01025746895', 1, 3, 1)
SET IDENTITY_INSERT [dbo].[Student] OFF
SET IDENTITY_INSERT [dbo].[StudentSubjects] ON 

INSERT [dbo].[StudentSubjects] ([id], [studentID], [subjectID], [isPassed], [professorSubjectID], [registrationEnd]) VALUES (7265, 6, 7, 0, 1003, NULL)
INSERT [dbo].[StudentSubjects] ([id], [studentID], [subjectID], [isPassed], [professorSubjectID], [registrationEnd]) VALUES (7266, 6, 1009, 0, 1007, NULL)
INSERT [dbo].[StudentSubjects] ([id], [studentID], [subjectID], [isPassed], [professorSubjectID], [registrationEnd]) VALUES (7267, 6, 1010, 0, 1008, NULL)
SET IDENTITY_INSERT [dbo].[StudentSubjects] OFF
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([subID], [subjectName], [deptID], [code], [creditHours], [preSubject], [day], [timeFrom], [timeTo]) VALUES (6, N'Thermodynamics (1)', 3, N'P 122', 3, NULL, N'Monday', CAST(N'10:00:00' AS Time), CAST(N'12:00:00' AS Time))
INSERT [dbo].[Subject] ([subID], [subjectName], [deptID], [code], [creditHours], [preSubject], [day], [timeFrom], [timeTo]) VALUES (7, N'Atomic physics
 (1)', 3, N'P 133', 2.5, NULL, N'Wednesday', CAST(N'09:00:00' AS Time), CAST(N'11:00:00' AS Time))
INSERT [dbo].[Subject] ([subID], [subjectName], [deptID], [code], [creditHours], [preSubject], [day], [timeFrom], [timeTo]) VALUES (8, N'Mathematical physics
', 3, N'P 177', 3, NULL, N'Monday', CAST(N'10:30:00' AS Time), CAST(N'12:30:00' AS Time))
SET IDENTITY_INSERT [dbo].[Subject] OFF
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Professors] FOREIGN KEY([head])
REFERENCES [dbo].[Professors] ([id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Professors]
GO
ALTER TABLE [dbo].[Professors]  WITH CHECK ADD  CONSTRAINT [FK_Professors_Gender] FOREIGN KEY([genderID])
REFERENCES [dbo].[Gender] ([genderID])
GO
ALTER TABLE [dbo].[Professors] CHECK CONSTRAINT [FK_Professors_Gender]
GO
ALTER TABLE [dbo].[ProfessorSubjects]  WITH CHECK ADD  CONSTRAINT [FK_ProfessorSubjects_Professors] FOREIGN KEY([professorID])
REFERENCES [dbo].[Professors] ([id])
GO
ALTER TABLE [dbo].[ProfessorSubjects] CHECK CONSTRAINT [FK_ProfessorSubjects_Professors]
GO
ALTER TABLE [dbo].[ProfessorSubjects]  WITH CHECK ADD  CONSTRAINT [FK_ProfessorSubjects_Subject] FOREIGN KEY([subjectID])
REFERENCES [dbo].[Subject] ([subID])
GO
ALTER TABLE [dbo].[ProfessorSubjects] CHECK CONSTRAINT [FK_ProfessorSubjects_Subject]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Department] FOREIGN KEY([deptId])
REFERENCES [dbo].[Department] ([depID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Department]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Gender] FOREIGN KEY([genderID])
REFERENCES [dbo].[Gender] ([genderID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Gender]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Level] FOREIGN KEY([levelID])
REFERENCES [dbo].[Level] ([levelID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Level]
GO
ALTER TABLE [dbo].[StudentSubjects]  WITH CHECK ADD  CONSTRAINT [FK_StudentSubjects_ProfessorSubjects] FOREIGN KEY([professorSubjectID])
REFERENCES [dbo].[ProfessorSubjects] ([id])
GO
ALTER TABLE [dbo].[StudentSubjects] CHECK CONSTRAINT [FK_StudentSubjects_ProfessorSubjects]
GO
ALTER TABLE [dbo].[StudentSubjects]  WITH CHECK ADD  CONSTRAINT [FK_StudentSubjects_Student] FOREIGN KEY([studentID])
REFERENCES [dbo].[Student] ([studentID])
GO
ALTER TABLE [dbo].[StudentSubjects] CHECK CONSTRAINT [FK_StudentSubjects_Student]
GO
ALTER TABLE [dbo].[StudentSubjects]  WITH CHECK ADD  CONSTRAINT [FK_StudentSubjects_Subject] FOREIGN KEY([subjectID])
REFERENCES [dbo].[Subject] ([subID])
GO
ALTER TABLE [dbo].[StudentSubjects] CHECK CONSTRAINT [FK_StudentSubjects_Subject]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Department] FOREIGN KEY([deptID])
REFERENCES [dbo].[Department] ([depID])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Department]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Subject] FOREIGN KEY([preSubject])
REFERENCES [dbo].[Subject] ([subID])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Subject]
GO
/****** Object:  StoredProcedure [dbo].[Registration_End]    Script Date: 10/16/2020 1:37:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Registration_End]
AS
Begin
UPDATE [dbo].[StudentSubjects]
SET registrationEnd= 1
End
GO
USE [master]
GO
